<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gtconline.test.sirmaur">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Ui.Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ui.Activity.HomeAvitvity"
            android:label="@string/title_activity_home_avitvity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Ui.Activity.AboutAcitvity" />
        <activity android:name=".Ui.Activity.ImportantLinks" />
        <activity android:name=".Ui.Activity.HowToReachActivity" />
        <activity android:name=".WhereToStay" />
        <activity android:name=".Ui.Activity.ImpContacts" />
        <activity android:name=".Ui.Activity.AdminLogin" />
        <activity android:name=".Ui.Activity.GalleryActivity" />
        <activity android:name=".Ui.Activity.Excursions" />
        <activity android:name=".Ui.Activity.PlaceDetails" />
        <activity android:name=".Ui.Activity.PublicGrievance" />
        <activity android:name=".Ui.Activity.WhereToStayPlaceList"></activity>
    </application>

</manifest>